<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/currency-flags/3.2.1/currency-flags.min.css">

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="converter">
        <h1>🌍 Currency Converter</h1>
        <form method="POST">
            <input type="number" name="amount" step="0.01" placeholder="💰 Enter amount" required>

            <label for="from">From:</label>
            <select name="from" id="from">
    <option value="USD" class="flag-icon flag-icon-us">USD - United States Dollar</option>
<option value="EUR" class="flag-icon flag-icon-eu">EUR - Euro</option>
<option value="GBP" class="flag-icon flag-icon-gb">GBP - British Pound Sterling</option>
<option value="INR" class="flag-icon flag-icon-in">INR - Indian Rupee</option>
<option value="JPY" class="flag-icon flag-icon-jp">JPY - Japanese Yen</option>
<option value="AUD" class="flag-icon flag-icon-au">AUD - Australian Dollar</option>
<option value="CAD" class="flag-icon flag-icon-ca">CAD - Canadian Dollar</option>
<option value="CNY" class="flag-icon flag-icon-cn">CNY - Chinese Yuan</option>
<option value="CHF" class="flag-icon flag-icon-ch">CHF - Swiss Franc</option>
<option value="NZD" class="flag-icon flag-icon-nz">NZD - New Zealand Dollar</option>
<option value="SGD" class="flag-icon flag-icon-sg">SGD - Singapore Dollar</option>
<option value="ZAR" class="flag-icon flag-icon-za">ZAR - South African Rand</option>
<option value="SEK" class="flag-icon flag-icon-se">SEK - Swedish Krona</option>
<option value="NOK" class="flag-icon flag-icon-no">NOK - Norwegian Krone</option>
<option value="DKK" class="flag-icon flag-icon-dk">DKK - Danish Krone</option>
<option value="RUB" class="flag-icon flag-icon-ru">RUB - Russian Ruble</option>
<option value="BRL" class="flag-icon flag-icon-br">BRL - Brazilian Real</option>
<option value="MXN" class="flag-icon flag-icon-mx">MXN - Mexican Peso</option>
<option value="KRW" class="flag-icon flag-icon-kr">KRW - South Korean Won</option>
<option value="HKD" class="flag-icon flag-icon-hk">HKD - Hong Kong Dollar</option>
<option value="TRY" class="flag-icon flag-icon-tr">TRY - Turkish Lira</option>
<option value="SAR" class="flag-icon flag-icon-sa">SAR - Saudi Riyal</option>
<option value="AED" class="flag-icon flag-icon-ae">AED - UAE Dirham</option>
<option value="IDR" class="flag-icon flag-icon-id">IDR - Indonesian Rupiah</option>
<option value="THB" class="flag-icon flag-icon-th">THB - Thai Baht</option>
<option value="MYR" class="flag-icon flag-icon-my">MYR - Malaysian Ringgit</option>
<option value="PHP" class="flag-icon flag-icon-ph">PHP - Philippine Peso</option>
<option value="EGP" class="flag-icon flag-icon-eg">EGP - Egyptian Pound</option>

</select>

<select name="to" id="to">
    <option value="USD" class="flag-icon flag-icon-us">USD - United States Dollar</option>
<option value="EUR" class="flag-icon flag-icon-eu">EUR - Euro</option>
<option value="GBP" class="flag-icon flag-icon-gb">GBP - British Pound Sterling</option>
<option value="INR" class="flag-icon flag-icon-in">INR - Indian Rupee</option>
<option value="JPY" class="flag-icon flag-icon-jp">JPY - Japanese Yen</option>
<option value="AUD" class="flag-icon flag-icon-au">AUD - Australian Dollar</option>
<option value="CAD" class="flag-icon flag-icon-ca">CAD - Canadian Dollar</option>
<option value="CNY" class="flag-icon flag-icon-cn">CNY - Chinese Yuan</option>
<option value="CHF" class="flag-icon flag-icon-ch">CHF - Swiss Franc</option>
<option value="NZD" class="flag-icon flag-icon-nz">NZD - New Zealand Dollar</option>
<option value="SGD" class="flag-icon flag-icon-sg">SGD - Singapore Dollar</option>
<option value="ZAR" class="flag-icon flag-icon-za">ZAR - South African Rand</option>
<option value="SEK" class="flag-icon flag-icon-se">SEK - Swedish Krona</option>
<option value="NOK" class="flag-icon flag-icon-no">NOK - Norwegian Krone</option>
<option value="DKK" class="flag-icon flag-icon-dk">DKK - Danish Krone</option>
<option value="RUB" class="flag-icon flag-icon-ru">RUB - Russian Ruble</option>
<option value="BRL" class="flag-icon flag-icon-br">BRL - Brazilian Real</option>
<option value="MXN" class="flag-icon flag-icon-mx">MXN - Mexican Peso</option>
<option value="KRW" class="flag-icon flag-icon-kr">KRW - South Korean Won</option>
<option value="HKD" class="flag-icon flag-icon-hk">HKD - Hong Kong Dollar</option>
<option value="TRY" class="flag-icon flag-icon-tr">TRY - Turkish Lira</option>
<option value="SAR" class="flag-icon flag-icon-sa">SAR - Saudi Riyal</option>
<option value="AED" class="flag-icon flag-icon-ae">AED - UAE Dirham</option>
<option value="IDR" class="flag-icon flag-icon-id">IDR - Indonesian Rupiah</option>
<option value="THB" class="flag-icon flag-icon-th">THB - Thai Baht</option>
<option value="MYR" class="flag-icon flag-icon-my">MYR - Malaysian Ringgit</option>
<option value="PHP" class="flag-icon flag-icon-ph">PHP - Philippine Peso</option>
<option value="EGP" class="flag-icon flag-icon-eg">EGP - Egyptian Pound</option>

</select>


            <label for="to">To:</label>
            

            <button type="submit">🔄 Convert</button>
        </form>

        {% if converted_amount %}
            <h2>Converted Amount: 💸 {{ converted_amount }}</h2>
        {% endif %}
    </div>
</body>
</html>
